body{
    background-color: #f5634a;
    color: white;
    font-family: 'poppinsregular';
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#titulo{
    flex-direction: column;
    line-height: 10px;
}
#iscreva-se-btn{
    border: 2px solid #ff9c5b;
    padding: 10px;
    border-radius: 20px;
}
#iscreva-se-btn:hover{
    background-color:#ff9c5b;
    color: white;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: black;
}
a:hover{
    color: #ff9c5b;
    transition: 0.3s all;
}


h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color:#3b8183;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

input[type='submit']{
    height: 50px;
    width: 50%;
    background-color:#ff9c5b;
    color: white;
    font-weight: bold;
}

input[type='submit']:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}